{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="text-center mb-4">
        <img src="{% static 'todo_list/images/todo.png' %}" alt="" width="100">
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2 mt-2">
            <button type="submit" class="btn btn-primary btn-block btn-sm">Create Task</button>
        </div>
    </form>
{% endblock %}